<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067894296850-p384smregvajgfjgphnjdok7mt2veii3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067894296850-p384smregvajgfjgphnjdok7mt2veii3</string>
	<key>API_KEY</key>
	<string>AIzaSyD3z448_yCv6OFj_RI_an-n2NflEG8YZOY</string>
	<key>GCM_SENDER_ID</key>
	<string>1067894296850</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ndmt1at21.MeloApp</string>
	<key>PROJECT_ID</key>
	<string>meloapp-8e16e</string>
	<key>STORAGE_BUCKET</key>
	<string>meloapp-8e16e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067894296850:ios:527b4738999fe816eb23cb</string>
</dict>
</plist>