<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>265860709996-tsjvbbmqvrfaaih9k7ihqh7pcbmr0476.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.265860709996-tsjvbbmqvrfaaih9k7ihqh7pcbmr0476</string>
	<key>API_KEY</key>
	<string>AIzaSyDfesakJ_7nR2DokHVoYJLxo0LeAt2MMOk</string>
	<key>GCM_SENDER_ID</key>
	<string>265860709996</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tChat.ndmt1at21</string>
	<key>PROJECT_ID</key>
	<string>tchat-5c8f9</string>
	<key>STORAGE_BUCKET</key>
	<string>tchat-5c8f9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:265860709996:ios:825efbf2963ba821d12249</string>
</dict>
</plist>